{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}
<!-- {% assign reviews = author.reviews %} -->

<ul class="author__urls social-icons">

  {% if author.email %}
  <li>
    <a href="mailto:{{ author.email }}" rel="me" class="u-email">
      <meta itemprop="email" content="{{ author.email }}" />
      <i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</span>
    </a>
  </li>
  {% endif %}

  {% if author.github %}
  <li>
    <a href="https://github.com/{{ author.github }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fab fa-fw fa-github" aria-hidden="true"></i><span class="label">GitHub</span>
    </a>
  </li>
  {% endif %}

  {% if author.stackoverflow %}
  <li>
    <a href="https://stackoverflow.com/users/{{ author.stackoverflow }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i><span class="label">Stack Overflow</span>
    </a>
  </li>
  {% endif %}

  {% if author.linkedin %}
  <li>
    <a href="https://www.linkedin.com/in/{{ author.linkedin }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i><span class="label">LinkedIn</span>
    </a>
  </li>
  {% endif %}

  {% if author.twitter %}
  <li>
    <a href="https://twitter.com/{{ author.twitter }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i><span class="label">Twitter</span>
    </a>
  </li>
  {% endif %}

  {% if author.instagram %}
  <li>
    <a href="https://instagram.com/{{ author.instagram }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fab fa-fw fa-instagram" aria-hidden="true"></i><span class="label">Instagram</span>
    </a>
  </li>
  {% endif %}

  {% if author.steam %}
  <li>
    <a href="https://steamcommunity.com/id/{{ author.steam }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fab fa-fw fa-steam" aria-hidden="true"></i><span class="label">Steam</span>
    </a>
  </li>
  {% endif %}

  {%- include author-profile-custom-links.html -%}

</ul>
