{%- assign social = site.minima.social_links -%}

<ul class="social-media-list">
  {%- if social.github -%}
  <li>
    <a
      rel="me"
      href="https://github.com/{{ social.github | cgi_escape | escape }}"
      target="_blank"
      title="{{ social.github | escape }}"
      ><svg class="svg-icon">
        <use
          xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"
        ></use>
      </svg>
      <span class="username">{{ social.github | escape }}</span></a
    >
  </li>
  {%- endif -%} {%- if social.stackoverflow -%} {% assign so_username =
  social.stackoverflow | split: '/' | last | replace: '-', '.' | escape %}
  <li>
    <a
      rel="me"
      href="https://stackoverflow.com/users/{{ social.stackoverflow | escape }}"
      target="_blank"
      title="{{ so_username }}"
      ><svg class="svg-icon grey">
        <use
          xlink:href="{{ '/assets/minima-social-icons.svg#stackoverflow' | relative_url }}"
        ></use>
      </svg>
      <span class="username">{{ so_username }}</span>
    </a>
  </li>
  {%- endif -%} {%- if social.linkedin -%}
  <li>
    <a
      rel="me"
      href="https://www.linkedin.com/in/{{ social.linkedin | cgi_escape | escape }}"
      target="_blank"
      title="{{ social.linkedin | escape }}"
      ><svg class="svg-icon grey">
        <use
          xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"
        ></use>
      </svg>
      <span class="username">{{ social.linkedin | escape }}</span>
    </a>
  </li>
  {%- endif -%} {%- if social.twitter -%}
  <li>
    <a
      rel="me"
      href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}"
      target="_blank"
      title="{{ social.twitter | escape }}"
      ><svg class="svg-icon grey">
        <use
          xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"
        ></use>
      </svg>
      <span class="username">{{ social.twitter | escape }}</span>
    </a>
  </li>
  {%- endif -%} {%- if social.amazon or social.google -%}
  <li class="p-name">Reviews</li>
  {%- if social.amazon -%}
  <li>
    <a
      rel="me"
      href="https://www.amazon.com/gp/profile/amzn1.account.{{ social.amazon | cgi_escape | escape }}"
      target="_blank"
      title="My Amazon Reviews"
    >
      <svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/amazon.svg' | relative_url }}"></use>
      </svg>
      <span class="username">Amazon</span>
    </a>
  </li>
  {%- endif -%} {%- if social.google -%}
  <li>
    <a
      rel="me"
      href="https://www.google.com/maps/contrib/{{ social.google | cgi_escape | escape }}/reviews"
      target="_blank"
      title="My Google Reviews"
    >
      <svg class="svg-icon grey">
        <use xlink:href="/assets/google.svg"></use>
      </svg>
      <span class="username">Google Maps</span>
    </a>
  </li>
  {%- endif -%} {%- endif -%}
</ul>
